parameters:
    ignoreErrors:
        -
            message: "#^Function __trans not found\\.$#"
            count: 2
            path: src/Mollie.php

        -
            message: "#^Instantiated class Payment_Exception not found\\.$#"
            count: 3
            path: src/Mollie.php

        -
            message: "#^Parameter \\$invoice of method Payment_Adapter_Mollie\\:\\:_generateForm\\(\\) has invalid type Model_Invoice\\.$#"
            count: 1
            path: src/Mollie.php

        -
            message: "#^Parameter \\$invoice of method Payment_Adapter_Mollie\\:\\:getInvoiceTitle\\(\\) has invalid type Model_Invoice\\.$#"
            count: 1
            path: src/Mollie.php