name: Build and Test

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  composer:
    runs-on: ubuntu-latest

    name: PHP (Latest) - Build and Archive
    steps:
      - uses: actions/checkout@v6

      - name: Validate composer.json and composer.lock
        uses: php-actions/composer@v6
        with:
          command: validate

      - name: Cache Composer Dependencies
        id: composer-cache
        uses: actions/cache@v5
        with:
          path: ./src/vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Composer Dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        uses: php-actions/composer@v6
        with:
          php_version: 8.3

      - name: Create Build Archive for Tests
        run: |
          mkdir /tmp/builds/ && tar -cvf /tmp/builds/build.tar ./

      - name: Upload Build Archive for Tests
        uses: actions/upload-artifact@v6
        with:
          name: build-archive-php
          path: /tmp/builds
          retention-days: 1

  phpstan:
    runs-on: ubuntu-latest
    needs: [composer]

    name: PHPStan - FOSSBilling Preview
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: build-archive-php
          path: /tmp/builds

      - name: Extract build archive
        run: tar -xvf /tmp/builds/build.tar ./

      - name: Checkout FOSSBilling Source Code
        uses: actions/checkout@v6
        with:
          repository: "FOSSBilling/FOSSBilling"
          path: "FOSSBilling"

      - name: Install Composer Dependencies
        uses: php-actions/composer@v6
        with:
          args: --working-dir=FOSSBilling
          dev: no
          php_version: 8.3
          php_extensions: intl

      - name: Run PHPStan
        uses: php-actions/phpstan@v3
        with:
          php_version: latest
          configuration: phpstan.neon
          memory_limit: 512M
          version: latest

  phpstan-release:
    runs-on: ubuntu-latest
    needs: [composer]

    name: PHPStan - FOSSBilling Release
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: build-archive-php
          path: /tmp/builds

      - name: Extract build archive
        run: tar -xvf /tmp/builds/build.tar ./

      - name: Get the Latest FOSSBilling Release Tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: "FOSSBilling/FOSSBilling"
          releases-only: true
        id: get_id

      - name: Checkout The Release tag
        uses: actions/checkout@v6
        with:
          repository: "FOSSBilling/FOSSBilling"
          path: "FOSSBilling"
          ref: ${{ steps.get_id.outputs.tag }}

      - name: Install Composer Dependencies
        uses: php-actions/composer@v6
        with:
          args: --working-dir=FOSSBilling/
          dev: no
          php_version: 8.3
          php_extensions: intl

      - name: Run PHPStan
        uses: php-actions/phpstan@v3
        with:
          php_version: latest
          configuration: phpstan.neon
          memory_limit: 512M
          version: latest
