name: Spellcheck
on:
  pull_request:
  push: 
    branches: [main]

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v7
        with:
          incremental_files_only: true
